#netlify-identity-menu {
  display: inline-block;
}

.netlify-identity-menu {
  display: inline-block;
}

li.netlify-identity-item {
  display: inline;
  list-style-type: none;
  padding: .5rem!important;
}

li.netlify-identity-item a {
  color: #343a40!important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
