#accordion .card {
  margin-top: -3px;
}

#accordion .card-header {
  cursor: pointer;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 64px;
  width: 64px;
}

.bd-placeholder-img rect {
  fill: #868e96;
}

.bd-placeholder-img text {
  fill: #dee2e6;
}

.hero {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 1rem;
  padding-top: 74px;
  padding-bottom: 66px;
  color: #fff;
  background-color: #d3d3d3;
  text-decoration: none;
  height: auto;
  max-height: 420px;
  min-height: 380px;
  z-index: 1;
}

.hero-background {
  background-image: url('/assets/img/lawn-mower-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 80%;
}

.hero-content {
  max-width: 40em;
  width: 100%;
  z-index: 3;
}

.hero-title {
  display: block;
  font-size: 8rem;
  line-height: 8.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgba(0,0,0,.6);
}

.img-parent {
  max-width: 300px;
}

.kaky-success {
  color: green;
}

.workrequest-status .img-parent {
  max-width: 100px;
}

.workrequest-status .worker-logo {
  top: 8px;
  left: 16px;
}

.workrequest-status .worker-logo .bd-placeholder-img {
  font-size: 1rem;
  height: 32px;
  width: 32px;
  -moz-box-shadow: 5px 5px 15px 5px #ffffff;
  -webkit-box-shadow: 5px 5px 15px 5px #ffffff;
  box-shadow: 5px 5px 15px 5px #ffffff;
}

@media (max-height: 940px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .display-4 {
    font-size: 2rem;
  }

  .hero {
    min-height: 150px;
    max-height: 250px;
  }

  .hero-title {
    font-size: 4.0rem;
    line-height: 4.5rem;
  }

  .lead {
    font-size: 1rem;
  }
}

@media (max-height: 640px), (max-width: 300px) {
  .display-4 {
    font-size: 1.8rem;
  }

  .hero {
    min-height: 100px;
    max-height: 160px;
  }

  .hero-title {
    font-size: 3.0rem;
    line-height: 3.5rem;
  }

  .kaky-success {
    height: 0.8em!important;
    width: 0.5em!important;
  }

  .lead {
    font-size: 0.9rem;
  }

  .container > .pt-md-5, .py-md-5 {
    padding-top: 1rem!important;
  }
}
